apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: post-service-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  rules:
    - host: "article.eastack.xyz"
      http:
        paths:
          - path: /api(/|$)(.*)
            pathType: Prefix
            backend:
              service:
                name: web
                port:
                  number: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: web
spec:
  ports:
    - port: 8080
      name: http
  type: LoadBalancer
  selector:
    app: post-service
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: post-service
spec:
  selector:
    matchLabels:
      app: post-service
  template:
    metadata:
      labels:
        app: post-service
    spec:
      imagePullSecrets:
        - name: aliyun-docker-registry
      containers:
        - name: post-service
          image: registry.cn-beijing.aliyuncs.com/oblp/post-service
          ports:
            - containerPort: 8080
